
/*When the screen is smaller than 1200px, then use the hamburger menu*/
@media screen and (max-width: 1200px){
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display:flex;
    }
    #top-bar{
        position:relative;
    }
    #profile{
        padding-top: 13vh;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

    .about-pic-container{
        display: flex;
        justify-content: center;
    }
    .introduction-text-container{
        margin: 3rem;
    }

}
@media screen and (max-width: 800px){
    .logo{
        font-size: 3.5rem;
    }
}
@media screen and (max-width: 600px){
    .logo{
        font-size: 2.5rem;
    }
}