
/*When the screen is smaller than 1200px, then use the hamburger menu*/
@media screen and (max-width: 1200px){
    /* HEADER */
    #desktop-nav{
        display:none;
    }
    #hamburger-nav{
        display:flex;
    }
    #top-bar{
        position:relative;
    }
    /* PROFILE and ABOUT */

    #profile{
        padding-top: 13vh;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }
    .profile-container{
        margin-left: 4rem;
        margin-right: 4rem;
        padding-right: 0;
        border: none;
    }

    .introduction-education-container{
        padding-top: 0;
        margin: 3rem;
    }
    .introduction-text{
        padding: 1rem;
    }
    .intro-paragraph{
        font-size: 1rem;
    }
  
    /* EXPERIENCE SECTION */

    #experience{
        padding-top: 12vh;
    }

    .title-container{
        border: none;
        margin-left: 0;
        padding-left: 0;
    }
    .title{
        font-size: 3rem;
        text-align: center;
    }
    .title-subtext{
        font-size: 1rem;
        text-align: center;
    }

    .logo-grid{
        padding: 0;
        margin-left: 6rem;
        margin-right: 6rem;
    }
    #first-row .logo-container .xplogo{
        max-width: 50%;
        height: auto;
    }
    #third-row .logo-container .xplogo{
        max-width: 85%;
        height: auto;
    }
  /* PROJECTS SECTION */
    #projects{
        padding-top: 12vh;
    } 
   
    .project-tag-container{
        display: none;
    }
    

}




@media screen and (max-width: 800px){
    .logo{
        font-size: 3.5rem;
    }
    .profile-pic{
        max-height: 250px;
    }
    .title{
        font-size: 2rem;
    }
    .title-subtext{
        font-size: 0.75rem;
    }

    .intro-paragraph{
        font-size: 0.75rem;
    }
    .logo-grid{
        margin-top: 1rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
   
    .project-list{
        margin-top: 0;
        padding-top: 0;
    }
    .project-container{
        align-content: center;
        flex-direction: column;
    }
    .project-pic-container{
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin-left: 0;
     
    }
    .project-pic{
        height: auto;
        max-width:85%;
    }
    .project-description{
        text-align: center;
    }
    .project-description p{
        font-size: 0.75rem;
        margin: 1rem;
    }



     /*EDUCATION STYLING */ 
    .education-container{
        margin-top: 0;
    }
    .education-details-container{
        padding: 0.75rem;
    }
    .osulogo{
        padding-right: 0.7rem;
    }
    .education-detail-text{
        padding-top: 0.75rem;
        margin-left: 0.5rem;
        
    }
    .education-detail-text h3{
        font-size: 0.75rem;
    }
    .education-detail-text p{
        font-size: 0.5rem;
    }

}
@media screen and (max-width: 602px){
    .contact-container span{
        display: none;
    }
    .logo{
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 450px){
    .education-details-container{
        padding: 0.5rem;
    }
    .osulogo{
        max-width: 4rem;
    }
    .logo{
        font-size: 2rem;
    }
}